:root {
  --highlight: steelblue;
  --lowlight: #474D4F;
  --backlight: #EFEFEF;
}

@font-face {
    font-family: "din-next";
    src: url("../fnt/DINNextLTPro-Regular.otf");
}

body, html{
  height: calc(100% - 71px);
  background-color: var(--backlight);
}

section, .page-wrapper, .book-body {
  background-color: var(--backlight) !important;
}

body {
  font-family: "din-next", "Roboto", sans-serif;
  color: var(--lowlight);
}

h1, h2, h3 {
  color: var(--highlight);
}

p {
  font-size: 1.2em;
}

blockquote {
  font-size: .8em;
  font-weight: bold;
}

div.main-container {
  max-width: 800px;
}

.doc-header {
  display: flex;
  color: var(--backlight);
  background-color: var(--highlight);
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--highlight);
}

.author, .date {
  font-size: 1em;
  color: var(--lowlight);
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.document-type {
  padding-left: 20px;
}

.confidential  {
  text-align: right;
  flex-grow: 2;
  padding-right: 20px;
}

div.figure {
  padding-left: 40px;
  width: 80%;
}

div.figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header {
  margin-top: 30px;
}


div#TOC {
  color: var(--highlight);
  font-size: 1.3em;
  padding-top: 20px;
}

div#TOC > ul {
  padding-left: 0 !important;
  list-style-type: none;
}

div#TOC > ul::before {
  content: "Table of Contents";
  font-size: 30px;
}

div#TOC > ul > li {
  margin-left: 20px;
}

div#TOC > ul > li > a {
  color: var(--lowlight);
}

.assignment {
  background-color: #CCFFFF;
  border: 1px solid lightgrey;
  padding: 15px;
}

.mermaid .node polygon, .mermaid .node rect {
  fill: var(--highlight);
  stroke: light-gray;
}

.mermaid .node .label {
  color: var(--backlight);
  font-weight: bold;
}

.footnotes {
  font-size: .8em;
}

